body{
    font-family: 'Roboto', sans-serif;
}

.img-nav{
    height: 30px;
}
.card-title{
    color: #212529;
}
.card-text , footer{
    color: #707070;
}
.subt-title{
    font-size: 16px;
}
.ubic{
    font-size: 13px;
}
.form{
    font-size: 21px;
}
.img-footer{
    height: 25px;
}

